/* FONTE UTILIZADA NO SITE  */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Kanit', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: rgb(75, 75, 75);
}

body {
    overflow-x: hidden;
    margin: 0;
    max-width: 100%;
    padding: 0;
    transition: 0.3s ease;
    position: relative;
}

/* BARRA DE SCROLL DO SITE  */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #e9e9e9;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
}

/* FIM DA BARRA DE SCROLL  */

/* BACKGROUND DAS PAGINAS */

.background_green {
    background-color: #5db12f;
}

.dark-mode .background_green {
    background-color: #333;
}

.background_green_body {
    background-color: #e8ffdc;
}

.background_orange {
    background-color: #e06a0c;
}

.background_orange_body {
    background-color: #ffeada;
}

.dark-mode .background_orange {
    background-color: #333;
}

/* FIM BACKGROUND DAS PAGINAS */

/* ############################################################ HEADER PAGINAS CARTILHA  ######################################################33*/

.page_header {
    width: 100%;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icone_white {
    margin-right: 5px;
}

/* TITULO DA PAGINA NA CARTILHA  */
.page_title {
    margin-left: -70px;
}
.page_title h4 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 5px;
}

.dark-mode .page_title h4 {
    color: white;
}

.page_title h2 {
    font-weight: bold;
    color: #26a737;
    font-size: 25px;
    margin-top: -20px;
}

/* FIM TITULO DA PAGINA NA CARTILHA  */

/* BOTAO DE VOLTAR PARA PAGINA INICIAL  */
.btn_back {
    background-color: #26a737;
    padding: 5px 12px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 8px;
}

.btn_back i {
    color: white;
    transition: 0.3s;
}

.btn_back:hover>i {
    transform: translate(-2px);
}

/*  FIM BOTAO DE VOLTAR PARA PAGINA INICIAL  */

/*###################################################### FIM DO HEADER PAGINAS CARTILHA  #############################################################*/

/* BOTAO MODO ESCURO  */

#toggleBtn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 20px;
}
#toggleBtn_index{
    position: fixed !important;
    z-index: 99;
    bottom: 20px;
    right: 30px;
}

.bi-sun-fill {
    background: #26a737;
    border: none;
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 17, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bi-moon-stars-fill {
    background: white;
    border: none;
    color: #333 !important;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 50%;
    box-shadow: rgba(239, 239, 241, 0.25) 0px 13px 27px -5px, rgba(240, 238, 238, 0.3) 0px 8px 16px -8px;
}

.dark-mode {
    background-color: #333 !important;
    color: #fff;
}

.dark-mode * {
    color: #fff;
}

/*######################################## FIM BOTAO MODO ESCURO ################################# */

/* ################################### ESTILOS PRINCIPAIS ############################################# */
.col a {
    text-decoration: none;
}

/* CLASSE PARA CENTRALIZAR OS DEMAIS CONTEUDOS   */
.center {
    display: flex;
    justify-content: center;
}

h4 {
    margin-bottom: 20px !important;
}

ul {
    list-style: none;
    padding-left: 0 !important;
    margin: 0 !important;
}

/* ################################# FIM DOS ESTILOS PRINCIPAIS ###################################### */

/*############################################ HEADER DO INDEX  ###############################################3*/
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 85px;
}

/* LOGO EGP  */
.dark-mode .logo_egp {
    display: none;
}

.dark-mode .logo_egp_escuro {
    display: block;
}

.dark-mode .logo_egp_pagina {
    display: none;
}

.dark-mode .logo_egp_escuro_pagina {
    display: block;
}


.logo_egp_index {
    float: left;
}

.logo_egp_pagina {
    height: 50px;
    width: auto;
    margin-left: 2rem;
    margin-top: 6px;
    float: left;
}

.logo_egp_escuro_pagina {
    width: auto;
    height: 53px;
    margin-left: 2.1rem;
    display: none;
    float: left;
}

.logo_egp {
    height: 70px;
    margin-left: 2rem;
    margin-top: 6px;
}

.logo_egp_escuro {
    height: 73px;
    margin-left: 2.1rem;
    display: none;
}

/* FIM LOGO EGP  */

.index_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}

/* TITULO DO HEADER INDEX  */

.titulo_header {
    float: left;
    padding-left: 10px;
    margin: 10px;
    border-left: 4px solid #26a737;
}

.titulo_header h4 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 8px;
}

.titulo_header h2 {
    font-weight: bold;
    color: #26a737;
    font-size: 25px;
    margin-top: -20px;
}

/* MENU PARA COMPUTADOR  */
.menu {
    /* background-color: #26a737; */
    border-radius: 25px;
    float: right;
    margin-top: 20px;
    padding: 8px 20px;
    margin-right: 2rem;
}

.menu a {
    color: #26a737;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin: 0 10px;
}

.menu a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #26a737;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.icone_white {
    color: #26a737;
}

/* FIM DO MENU  */

/*#################################### FIM DO HEADER DO INDEX  ###############################################3*/


/* TITULOS DO HEADER PAGINA PRINCIPAL */

/* ############################ INICIO DO CONTEUDO PRINCIPAL ############################################### */
.main {
    padding: 5em 5em;
    margin-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin: 2rem auto;
    width: 50%;
    min-height: 700px;
    position: relative;
}

.main_05 {
    padding-top: 20px;
    margin-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin: 2rem auto;
    width: 50%;
    min-height: 600px;
    position: relative;
}


.cartilha {
    filter: drop-shadow(10px 10px 4px grey);
    margin-right: 20px;
}

.dark-mode .cartilha {
    filter: drop-shadow(10px 10px 4px rgb(19, 19, 19));
}

ul li {
    display: flex;
    text-align: left;
    font-size: 20px;
}

.section {
    margin: 1em;
}

.img_index {
    display: flex;
    justify-content: center;
}

.texto {
    font-size: 19px;
    max-width: 920px;
}

.texto a {
    color: #26a737;
}


.side_box {
    box-shadow: rgba(149, 157, 165, 0.39) 0px 8px 24px;
    margin: 1rem 1rem;
    padding: 30px 20px;
}

.dark-mode .side_box {
    box-shadow: rgba(10, 10, 10, 0.39) 0px 8px 24px;
}


.index_title {
    color: #26a737;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.5em;

}

.side_box .index_title {
    color: #26a737;
    font-size: 40px;
    font-weight: 700;
}

.banner_title {
    font-size: 30px;
    margin-top: 15px;
}

.topicos {
    margin: 3rem 0;
}

.subtopico {
    color: #333;
    transition: color 0.2s;
    cursor: auto;
    font-weight: 400;
    font-size: 25px;
    margin: 0.5rem 0;
}

.dark-mode .subtopico {
    color: #ffff;
}

.img_back {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.img_back_invertida {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.img_back03 {
    padding-top: 70px;
    width: 48%;
    height: auto;
}

.img {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

.img_invertida {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.responsive_img {
    display: none;
}

/* ################################ OUTROS FORMATOS ########################################  */

/* FOOTER DOS LINKS PARA CARTILHA  */

.footer_index {
    color: #26a737;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 2rem;
    transition: 0.4s;
}

.footer_index:hover {
    transform: scale(1.1);
}

.icone_capa {
    color: #26a737;
    margin-right: 10px;
}

.footer_title {
    font-size: 16px;
}

.footer_list {
    font-size: 12px;
}

.icone_footer {
    background-color: #26a737;
    margin: 0.1rem;
    padding: 10px;
    border-radius: 8px;
    color: #ffff;
    transition: 0.4s;
    margin-bottom: 1rem;
}

.icone_footer:hover {
    transform: scale(1.2);
}

/* IMAGEM DA CAPA  */
.capa {
    filter: drop-shadow(5px 5px 10px grey);
    height: auto;
    width: 200px;
    transition: 0.5s;
}

.dark-mode .capa {
    filter: drop-shadow(5px 5px 10px rgb(20, 20, 20));

}

/* FIM DA IMAGEM DA CAPA  */

/* ################################ OUTROS FORMATOS ########################################  */

/*############################################# ESTILO CARTILHA  ##################################################3*/

.icone_mouse {
    color: #26a737;
    margin-left: 10px;
}


.lista_apresentação li {
    font-size: 20px;
    margin-left: 0 !important;
}

.green_name {
    color: #26a737;
    font-size: 22px;
    font-weight: 600;
}

p {
    font-size: 18px;
    margin: 0 !important;
    padding: 0 !important;
}

.Freepick {
    color: #4ba726;
}


/* TITULO pagina inicial*/
.titulo_principal {
    color: #26a737;
    font-size: 4rem;
    margin-top: 0.8rem;
}

/* TEXTO ABAIXO DO TITULO  */
.description {
    font-size: 1rem;
    margin-top: -0.6rem;
    padding-bottom: 30px;
    color: rgb(75, 75, 75);
}

.dark-mode .description {
    color: white;
}

.outros_formatos {
    margin-bottom: 3rem;
}

/* TITULO DA SEGUNDA PAGINA  */
.subtitle {
    color: #26a737;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-left: 0.8rem;
}

/* TITULO das paginas */
.titulo {
    font-size: 2.3rem;
    display: flex;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

.titulo_branco {
    color: #ffff;
}

.titulo_05{
    padding: 1em 2.5em 0 2.5em;
}
.titulo_lista{
    margin-left: 1em;
}
/* PARAGRAFO DA PAGINA DE OBJETIVOS  */
.paragrafo {
    color: #ffff;
    font-size: 18px;
}

.p_10 {
    width: 60%;
}

.p_06 {
    font-size: 20px;
}

/* IMAGENS DA PAGINA DE PRINCIPIOS */
.img_principios {
    margin-top: 0.5rem;
    float: right;
}

.img_principios_escuro {
    margin-top: 0.5rem;
    float: right;
}



/* IMAGENS DAS PAGINAS COM CAIXA DE TEXTO  */
.img_pessoa {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

/* CAIXA DE TEXTO DA PAGINA DE PRINCIPIOS  */
.square {
    padding: 1rem 0.5rem;
    padding-left: 6rem;
    margin: 1.5rem 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* CAIXA DE TEXTO DE PRINCIPIOS LADO DIREITO  */
.square2 {
    padding: 1rem 0.5rem;
    padding-right: 6rem;
    margin: 1.5rem 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* TITULO DA CAIXA DA PAGINA DE PRINCIPIOS ESQUERDO */
.square .title {
    color: rgb(29, 29, 29);
    font-size: 25px;
    font-weight: bold;
}

/* TITULO CAIXA DE PRINCIPIOS DO LADO DIREITO */
.square2 .title {
    color: rgb(29, 29, 29);
    font-size: 25px;
    font-weight: bold;
    text-align: end;
}



/* PARAGRAFO DA CAIXA DE TEXTO DO LADO DIREITO  */
.square2 p {
    display: flex;
    text-align: end;
}

/* ESTILO GERAL DOS PARAGRAFOS DE CAIXA DE TEXTO  */
.square p,
.square2 p {
    color: #ffff;
    font-size: 18px;
    font-weight: light;
}

/* CORES DAS CAIXAS */
.green {
    background-color: #26a737;
}

.darkorange {
    background-color: #e94f0e;
}

.orange {
    background-color: #e4a500;
}

.blue {
    background-color: #2db39e;
}

/* BOTOES PARA PASSAR DE PAGINA  */
.dark-mode .button {
    color: #fff;
    border: 1px solid #ffff;
}

.button {
    border: 1px solid #26a737;
    border-radius: 7px;
    color: #26a737;
    background: none;
    font-size: 20px;
    padding: 7px;
    margin: 1rem;
    opacity: 80%;
}

.dark-mode .icone {
    color: #ffff;
}

.icone {
    color: #26a737;
    margin: 0 5px;
}

.dark-mode .button:hover {
    background-color: #ffff;
    color: #26a737;
}

.button:hover {
    color: #ffff;
    background-color: #26a737;
}

.dark-mode .button:hover>.icone {
    color: #26a737;
}

.button:hover>.icone {
    color: #ffff;
}

/* IMAGEM DE FUNDO DA PAGINA 03 E 04  */
.background_img {
    margin-top: 4rem;
    left: 0;
    bottom: 0;
}


.text_green {
    color: #26a737;
}

/* ESTILO LISTA  */
.lista {
    /* margin: 2em 0 -1em 0; */
    padding-bottom: 30px;
    color: #ffff;
    font-size: 18px;
}

.lista_cinza {
    margin: 2em 0;
    font-size: 18px;
}

.circle_orange {
    color: #e4a500;
    margin-right: 10px;
    margin-bottom: -50px;
    font-size: 30px;
}

.circle_green {
    color: #26a737;
    margin-right: 10px;
    margin-bottom: -50px;
    font-size: 30px;
}

/* FIM ESTILO LISTA  */

.img15 {
    margin-top: -2em;
}

.img16 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/* FIM DAS IMAGENS DA CARTILHA  */

/* ESTILO ULTIMA PAGINA DA CARTILHA  */
.titulo_orange {
    color: #e94f0e;
    font-size: 20px;
    padding: 20px;
    background-color: #ffff;
    z-index: 999;
}

.dark-mode .titulo_orange {
    background-color: #333;
}

.line_orange {
    opacity: 100% !important;
    border: 1px solid #e94f0e;
    margin-top: -2.5em;
    margin-bottom: 3em;
}

.txt_orange {
    color: #e94f0e;
    font-size: 20px;
    font-weight: bold;
}

.txt20 {
    font-size: 15px;
}

.txt20 a {
    color: rgb(75, 75, 75);
}

.dark-mode .txt20 a {
    color: white;
}

/* FIM ESTILO ULTIMA PAGINA DA CARTILHA  */

strong a {
    font-weight: lighter;
}

.txt_white {
    color: #ffff;
    padding-bottom: 30px;
}

.p_acessar {
    margin-top: 6rem;
}

.acessar {
    padding-bottom: 30px;
    margin-top: -40px;
    color: #ffff;
}

/* BOTAO BACK TO TOP PAGINA 05 */

.back_to_top {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #26a737;
    box-shadow: rgba(17, 17, 17, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 7px 20px;
    font-size: 30px;
    border-radius: 50%;
}

.back_to_top i {
    color: white;
    transition: 0.3s linear;
}

.back_to_top i:hover {
    transform: translateY(-5px);
}

.paginas {
    filter: drop-shadow(10px 10px 4px grey);
}
.dark-mode .paginas{
    filter: drop-shadow(10px 10px 4px rgb(0, 0, 0));
}

/* FIM DO BOTAO BACK TO TOP  */


.footer {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 20px;
    width: 100%;
    bottom: 0;
}

.footer_ano {
    color: white;
    margin: 0 4px;
}

.link {
    color: rgb(75, 75, 75);
    text-decoration: underline !important;
}

.dark-mode .link {
    color: #ffff;
    text-decoration: underline !important;
}

.copyright {
    background-color: #26a737;
    color: white;
    font-weight: light;
    font-size: 15px;
    padding: 8px;
    margin-top: 1rem;
    margin-bottom: -10px;
}

.fa-copyright {
    margin-right: 10px;
    margin-top: 2px;
    color: #ffff;
}

/* LOGO EGP E SEPLAG  */

.logo_egp_page {
    height: 125px;
    width: auto;
}

.logo_egp_page_escuro {
    display: none;
    margin-top: 33.5px;
    margin-right: 5px;
    margin-bottom: 42px;
    height: 50px;
    width: auto;
}

.logo_seplag_page_escuro {
    display: none;
    width: auto;
    height: 61px;
    margin-top: 31px;
    margin-left: 25px;
}

.dark-mode .logo_seplag_page_escuro {
    display: block;
}

.dark-mode .logo_egp_page {
    display: none;
}


.dark-mode .logo_egp_page_escuro {
    display: block;
}


@media (max-width:999px) {
    .wrap .footerlist {
        margin: 1rem;
        padding-left: 10px;
        border-left: 5px solid #26a737;
    }

    .page_title h4 {
        font-size: 15px;
    }

    .page_title h2 {
        font-size: 22px;
    }

    .img_back_invertida {
        display: none;
    }

    .main {
        box-shadow: none;
        margin: 0 2rem;
        width: auto;
        min-height: auto;
        background: none !important;
    }

    .main_05 {
        box-shadow: none;
        margin: 0 1rem;
        width: auto;
    }

    .img_pessoa {
        display: none;
    }

    .square {
        padding: 0.5rem;
        padding-left: 2rem;
        margin: 1.5rem 0;
    }

    .square2 {
        padding: 0.5rem;
        padding-left: 2rem;
        margin: 1.5rem 0;
    }

    .titulo_principal {
        font-size: clamp(min(2rem), 20px, max(5rem));
        white-space: nowrap;
    }

    .description {
        font-size: clamp(0.5rem, 2.5vw, 0.9rem);
    }

    .img_index {
        width: 100%;
    }

    .img {
        position: static;
    }

    .background_green,
    .background_orange {
        background: none;
    }

    .background_orange_body {
        background-color: #e06a0c;
    }

    .background_green_body {
        background-color: #4ba726;
    }


    .background_green_body .logo_egp_pagina,
    .background_orange_body .logo_egp_pagina {
        display: none;
    }

    .background_green_body .logo_egp_escuro_pagina,
    .background_orange_body .logo_egp_escuro_pagina {
        display: block;
    }

    .background_green_body .page_title h2,
    .background_orange_body .page_title h2 {
        color: white;
    }

    .background_green_body .button,
    .background_orange_body .button {
        color: #fff;
        border: 1px solid #ffff;
    }

    .background_green_body .icone,
    .background_orange_body .icone {
        color: #ffff;
    }

    .background_green_body .button:hover,
    .background_orange_body .button:hover {
        background-color: #ffff;
        color: #26a737;
    }


    .background_green_body .button:hover>.icone,
    .background_orange_body .button:hover>.icone {
        color: #26a737;
    }

    .responsive_img {
        display: block;
        margin-top: 20px;
        width: 60%;
        height: auto;
    }

    .img_invertida {
        position: static;
        margin-top: 20px;
    }

    .back_to_top {
        box-shadow: rgba(17, 17, 17, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        padding: 5px 13px;
        font-size: 20px;
        border-radius: 50%;
    }
}

@media (min-width:1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2rem;
    }

    .index_main {
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 1rem auto;
        width: 1000px;
    }

    .sobre_main {
        margin: 1rem auto;
        width: 1000px;
    }

    .wrap {
        display: grid;
        grid-template-columns: 30% 30% 40%;
        margin: 0 2rem;
    }

}

@media (max-width:675px) {
    .menu {
        background-color: #1d7e2a;
        width: 100%;
        margin: 0 !important;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        z-index: 100;
        display: flex;
        justify-content: space-around;
    }

    .menu a {
        color: white;
        font-size: 12px;
    }

    .menu i {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        margin-left: 3px;
    }

    .icone_white {
        color: white;
    }

    .footer {
        margin-bottom: 60px;
    }

    .img_back {
        display: none;
    }

    .responsive_img {
        display: block;
        margin-top: 20px;
        width: 80%;
        height: auto;
    }

    .img_04 {
        width: 100%;
        height: auto;
    }
}

@media (max-width:530px) {
    .index_title {
        display: flex;
        justify-content: center;
    }

    .cartilha {
        display: flex;
        justify-content: center;
    }

    .page_title h4 {
        display: none;
    }

    .page_title h2 {
        display: none;
    }

}

@media (min-width:530px) {
    .cartilha {
        filter: drop-shadow(10px 10px 4px grey);
        height: 300px;
        width: auto;
        float: left;
        margin-right: 20px;
    }
}